.loading {
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  z-index: 9999;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #877e7e;
  border-style: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
 }

 .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, -8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
